<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421930980911-ve3bkqngjfqjkh3pvs5p6um292spmqd2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421930980911-ve3bkqngjfqjkh3pvs5p6um292spmqd2</string>
	<key>API_KEY</key>
	<string>AIzaSyD5CIJbGLIw2f5cGUOJ8QfQnjt_df1YEEU</string>
	<key>GCM_SENDER_ID</key>
	<string>421930980911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.digitalPortobello</string>
	<key>PROJECT_ID</key>
	<string>digital-portobello</string>
	<key>STORAGE_BUCKET</key>
	<string>digital-portobello.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421930980911:ios:25938fe59caa32387f98da</string>
</dict>
</plist>